

<%= form_for(@idea, remote: request.xhr?, html: { data: { modal: true } }) do |form|  %>




<% if @idea.errors.present? %>
    <p>
      <%= @idea.errors.full_messages.join(", ") %>
    </p>
  <% end %>


  <div>
    <%= form.label :title %> <br>
    <%= form.text_area :title, cols: "35", rows: "2" %>
  </div>

  <div>
    <%= form.label :description%> <br>
    <%= form.text_area :description,  cols: "35", rows: "7" %>
  </div>


   <div class="modal-footer">
    <%= form.button :Submit, class: 'btn-primary float-right' %>
  </div>
<% end %>